#title {
    text-align: center;
}

div {
  display: inline-block;
}

.container {
  /* width: 100px;
  height: 100px;
  background-color: red; */

  position: absolute;

  left: 50%;
  right: 20%;

  margin: auto;
}

div.panel-heading:hover {
  font-weight: bold;
}

#first {
  background-color: #0000ff;
  font-size: 18px;

}

#second {
  background-color: #009900;
  font-size: 30px;
}

#third {
  background-color: #cc0000;
  font-size: 64px;
}
